*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Poppins', sans-serif;
  background-image: url("images/1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


.section-introduction{
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10%;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: #fff;
  text-align: center;
}

.section-introduction p{
  line-height: 26px;
  max-width: 700px;
  font-size: 1.1rem;
  text-align: justify;
  display: block;
}

.text-wrapper:hover ~ .cursor-1{
  opacity: 0;
}


.cursor-1{
  position: fixed;
  width: 8px;
  height: 8px;
  background-color: #c6c6c6;
  border-radius: 50%;
  left: 0;
  right: 0;
  pointer-events: none;
  transform: translate(-50%,-50%);
  transition: 0.1s;
}

.cursor-2{
  position: fixed;
  width: 40px;
  height: 40px;
  border: 1px solid #c6c6c6;
  border-radius: 50%;
  left: 0;
  right: 0;
  pointer-events: none;
  transform: translate(-50%,-50%);
  transition: 0.15s;
}

.cursor.link-grow{
  transform: scale(2);
  background-color: #000;
}